.movies-card {
  box-shadow: 0 4px 30px rgba(0,0,0,0.08);  
  background-color: #fdfdfd;
}

.movies-card__info {
    width: 100%;
    max-width: 364px;
}

.movies-card__image {
    width: 100%;
}

.movies-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}

.movies-card__title {
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 500;
    margin: 0;
    padding-top: 14px;
}

.movies-card__like_active {
    background-image: url(../../images/like.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    margin-top: 19px;
    background-color: transparent;
}

.movies-card__like_active:hover {
    cursor: pointer;
}

.movies-card__like {
    background-image: url(../../images/like.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    border: 0;
    margin: 19px 14px 0 0;
    background-color: transparent;
}

.movies-card__like:hover {
    cursor: pointer;
}

.movies-card__like_unlike {
    background-image: url(../../images/likedisabled.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: 0;
    margin-top: 19px;
    padding: 0;
    background-color: transparent;
}

.movies-card__like_unlike:hover {
    opacity: 0.5;
    cursor: pointer;
}

.movies-card__delete {
    background-image: url(../../images/delete.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 19px 14px 0 0;
    background-color: transparent;
}

.movies-card__delete:hover {
    opacity: 0.5;
    cursor: pointer;
}

.movies-card__duration {
    color: #a0a0a0;
    font-size: 11px;
    line-height: 13.31px;
    font-weight: 400;
    margin: 6px 0 14px 14px;
}

@media screen and (max-width: 320px) {
    .movies-card__info {
        max-width: 300px;
    }
}